# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Pocket watch'
      'submenu': [
        { 'label': 'Connect', 'command': 'pocket-watch:connect' },
        { 'label': 'Watch Current File', 'command': 'pocket-watch:watchFile' },
      ]
    ]
  }
]
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Connect'
      'command': 'pocket-watch:connect'
    }
  ]
